body {
    color: #00478f;
    background-color: #edf2f3;
}

.button-div {
    padding: 1em;
}
.col {
    padding: 0.25;
}
img {
    height: 75px;
    width: 75px;
}

.btn {
    background-color: #00478f;
    color: #b1d4e0;
}
